In [1]:
from metadata import application_metadata, bureau_bal_metadata, bureau_metada, cc_bal_metadata, inst_pmt_metadata, pos_cash_bal_metadata, prev_app_metadata
from util import DataQualityChecker

import pandas as pd

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

# application_train

For testing data -> done after EDA

In [ ]:
checker = DataQualityChecker(pd.read_csv(r'data\application_train.csv'), application_metadata)
report_app_train = checker.run_all_checks()

### 1. primary_key

In [ ]:
report_app_train['categorical_report'].xs('primary_key', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
SK_ID_CURR,0.0,0,456255,0.000325,307511.0

### 2. target

In [ ]:
report_app_train['numeric_report'].xs('target', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
TARGET,0.0,0,8.073,0.0,0.0,0.0,0.081,0.0,0.0,1.0,0.272

### 3. personal_info

In [ ]:
report_app_train['numeric_report'].xs('personal_info', level='groups') # D -> Y

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
DAYS_BIRTH,0.0,0,0.0,-25229.0,-19682.0,-15750.0,-16036.995,-13749.0,-12413.0,-7489.0,4363.989

In [ ]:
report_app_train['categorical_report'].xs('personal_info', level='groups') # LabelEncoder

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
CODE_GENDER,0.0,0,F,65.834393,3.0
NAME_EDUCATION_TYPE,0.0,0,Secondary / secondary special,71.018923,5.0

### 4. family_info

In [ ]:
report_app_train['numeric_report'].xs('family_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
CNT_FAM_MEMBERS,0.0,0,1.303,1.0,2.0,2.0,2.153,2.0,3.0,20.0,0.911
CNT_CHILDREN,0.0,0,1.389,0.0,0.0,0.0,0.417,0.0,1.0,19.0,0.722

In [ ]:
report_app_train['categorical_report'].xs('family_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
NAME_FAMILY_STATUS,0.0,0,Married,63.87804,6.0

### 5. external_info

In [ ]:
report_app_train['numeric_report'].xs('external_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
EXT_SOURCE_3,19.83,0,0.0,0.001,0.371,0.535,0.511,0.746,0.669,0.896,0.195
EXT_SOURCE_2,0.21,0,0.0,0.000,0.392,0.566,0.514,0.286,0.664,0.855,0.191
EXT_SOURCE_1,56.38,0,0.0,0.015,0.334,0.506,0.502,0.356,0.675,0.963,0.211

### 6. loan_info

In [ ]:
report_app_train['numeric_report'].xs('loan_info', level='groups')
#AMT_GOODS_PRICE = For consumer loans it is the price of the goods for which the loan is given

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
AMT_GOODS_PRICE,0.09,0,1.357,40500.0,238500.0,450000.0,538396.207,450000.0,679500.0,4050000.0,369446.461
AMT_ANNUITY,0.00,0,0.962,1615.5,16524.0,24903.0,27108.574,9000.0,34596.0,258025.5,14493.737
AMT_CREDIT,0.00,0,1.058,45000.0,270000.0,513531.0,599026.000,450000.0,808650.0,4050000.0,402490.777

In [ ]:
report_app_train['categorical_report'].xs('loan_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
NAME_CONTRACT_TYPE,0.0,0,Cash loans,90.478715,2.0

### 7. financial_info

In [ ]:
report_app_train['numeric_report'].xs('financial_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
AMT_INCOME_TOTAL,0.00,0,0.148,25650.0,112500.0,147150.0,168797.919,135000.0,202500.0,117000000.0,237123.146
OWN_CAR_AGE,65.99,0,1.096,0.0,5.0,9.0,12.061,7.0,15.0,91.0,11.945
DAYS_EMPLOYED,0.00,0,0.000,-17912.0,-2760.0,-1213.0,63815.046,365243.0,-289.0,365243.0,141275.767

In [ ]:
report_app_train['categorical_report'].xs('financial_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
FLAG_OWN_CAR,0.00,0,N,65.989184,2.0
FLAG_OWN_REALTY,0.00,0,Y,69.367275,2.0
ORGANIZATION_TYPE,0.00,0,Business Entity Type 3,22.110429,58.0
NAME_INCOME_TYPE,0.00,0,Working,51.631974,8.0
NAME_HOUSING_TYPE,0.00,0,House / apartment,88.734387,6.0
OCCUPATION_TYPE,31.35,0,Laborers,17.946025,18.0

### 8. properties_info

In [ ]:
report_app_train['numeric_report'].xs('properties_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
COMMONAREA_MEDI,69.87,0,0.560,0.0,0.008,0.021,0.045,0.000,0.051,1.000,0.076
ELEVATORS_MEDI,53.30,0,0.790,0.0,0.000,0.000,0.078,0.000,0.120,1.000,0.134
ENTRANCES_MEDI,50.35,0,0.724,0.0,0.069,0.138,0.149,0.138,0.207,1.000,0.100
YEARS_BUILD_MEDI,66.50,0,0.392,0.0,0.691,0.758,0.756,0.826,0.826,1.000,0.112
FLOORSMAX_MEDI,49.76,0,0.889,0.0,0.167,0.167,0.226,0.167,0.333,1.000,0.145
YEARS_BEGINEXPLUATATION_MEDI,48.78,0,0.212,0.0,0.977,0.982,0.978,0.987,0.987,1.000,0.060
LANDAREA_MEDI,59.38,0,0.694,0.0,0.019,0.049,0.067,0.000,0.087,1.000,0.082
LIVINGAPARTMENTS_MEDI,68.35,0,0.575,0.0,0.051,0.076,0.102,0.051,0.123,1.000,0.094
LIVINGAREA_MEDI,50.19,0,1.049,0.0,0.046,0.075,0.109,0.000,0.130,1.000,0.112
NONLIVINGAPARTMENTS_MEDI,69.43,0,0.234,0.0,0.000,0.000,0.009,0.000,0.004,1.000,0.047
NONLIVINGAREA_MEDI,55.18,0,0.791,0.0,0.000,0.003,0.028,0.000,0.027,1.000,0.070
TOTALAREA_MODE,48.27,0,1.081,0.0,0.041,0.069,0.103,0.000,0.128,1.000,0.107
FLOORSMIN_MEDI,67.85,0,0.180,0.0,0.083,0.208,0.232,0.208,0.375,1.000,0.162
BASEMENTAREA_MEDI,58.52,0,0.647,0.0,0.044,0.076,0.088,0.000,0.112,1.000,0.082
FLOORSMAX_MODE,49.76,0,0.858,0.0,0.167,0.167,0.222,0.167,0.333,1.000,0.144
NONLIVINGAREA_MODE,55.18,0,0.801,0.0,0.000,0.001,0.027,0.000,0.023,1.000,0.070
LIVINGAPARTMENTS_AVG,68.35,0,0.568,0.0,0.050,0.076,0.101,0.050,0.121,1.000,0.093
APARTMENTS_MEDI,50.75,0,0.987,0.0,0.058,0.086,0.118,0.083,0.149,1.000,0.109
FLOORSMIN_AVG,67.85,0,0.192,0.0,0.083,0.208,0.232,0.208,0.375,1.000,0.161
FLOORSMAX_AVG,49.76,0,0.849,0.0,0.167,0.167,0.226,0.167,0.333,1.000,0.145
ENTRANCES_AVG,50.35,0,0.720,0.0,0.069,0.138,0.150,0.138,0.207,1.000,0.100
ELEVATORS_AVG,53.30,0,0.793,0.0,0.000,0.000,0.079,0.000,0.120,1.000,0.135
LIVINGAREA_AVG,50.19,0,1.038,0.0,0.045,0.074,0.107,0.000,0.130,1.000,0.111
COMMONAREA_AVG,69.87,0,0.554,0.0,0.008,0.021,0.045,0.000,0.052,1.000,0.076
YEARS_BEGINEXPLUATATION_AVG,48.78,0,0.226,0.0,0.977,0.982,0.978,0.987,0.987,1.000,0.059
BASEMENTAREA_AVG,58.52,0,0.642,0.0,0.044,0.076,0.088,0.000,0.112,1.000,0.082
APARTMENTS_AVG,50.75,0,0.970,0.0,0.058,0.088,0.117,0.082,0.148,1.000,0.108
REGION_RATING_CLIENT_W_CITY,0.00,0,0.000,1.0,2.000,2.000,2.032,2.000,2.000,3.000,0.503
REGION_RATING_CLIENT,0.00,0,0.000,1.0,2.000,2.000,2.052,2.000,2.000,3.000,0.509
REGION_POPULATION_RELATIVE,0.00,0,2.736,0.0,0.010,0.019,0.021,0.036,0.029,0.073,0.014
YEARS_BUILD_AVG,66.50,0,0.388,0.0,0.687,0.755,0.752,0.823,0.823,1.000,0.113
NONLIVINGAPARTMENTS_AVG,69.43,0,0.235,0.0,0.000,0.000,0.009,0.000,0.004,1.000,0.048
LANDAREA_AVG,59.38,0,0.679,0.0,0.019,0.048,0.066,0.000,0.086,1.000,0.081
LANDAREA_MODE,59.38,0,0.696,0.0,0.017,0.046,0.065,0.000,0.084,1.000,0.082
LIVINGAREA_MODE,50.19,0,1.087,0.0,0.043,0.073,0.106,0.000,0.125,1.000,0.112
LIVINGAPARTMENTS_MODE,68.35,0,0.588,0.0,0.054,0.077,0.106,0.055,0.131,1.000,0.098
FLOORSMIN_MODE,67.85,0,0.156,0.0,0.083,0.208,0.228,0.208,0.375,1.000,0.161
ENTRANCES_MODE,50.35,0,0.855,0.0,0.069,0.138,0.145,0.138,0.207,1.000,0.101
ELEVATORS_MODE,53.30,0,1.091,0.0,0.000,0.000,0.074,0.000,0.121,1.000,0.132
COMMONAREA_MODE,69.87,0,0.551,0.0,0.007,0.019,0.043,0.000,0.049,1.000,0.074
YEARS_BUILD_MODE,66.50,0,0.393,0.0,0.699,0.765,0.760,0.830,0.824,1.000,0.110
BASEMENTAREA_MODE,58.52,0,0.671,0.0,0.041,0.075,0.088,0.000,0.112,1.000,0.084
APARTMENTS_MODE,50.75,0,0.979,0.0,0.052,0.084,0.114,0.084,0.144,1.000,0.108
NONLIVINGAREA_AVG,55.18,0,0.784,0.0,0.000,0.004,0.028,0.000,0.028,1.000,0.070
NONLIVINGAPARTMENTS_MODE,69.43,0,0.220,0.0,0.000,0.000,0.008,0.000,0.004,1.000,0.046
YEARS_BEGINEXPLUATATION_MODE,48.78,0,0.221,0.0,0.977,0.982,0.977,0.987,0.987,1.000,0.065

In [ ]:
report_app_train['categorical_report'].xs('properties_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
FONDKAPREMONT_MODE,68.39,0,reg oper account,24.008897,4.0
HOUSETYPE_MODE,50.18,0,block of flats,48.942314,3.0
WALLSMATERIAL_MODE,50.84,0,Panel,21.475655,7.0
EMERGENCYSTATE_MODE,47.40,0,No,51.844649,2.0

### 9. social_info

In [ ]:
report_app_train['numeric_report'].xs('social_info', level='groups')

# OBS = Observable, DEF = Default

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
DEF_60_CNT_SOCIAL_CIRCLE,0.33,0,1.277,0.0,0.0,0.0,0.100,0.0,0.0,24.0,0.362
OBS_30_CNT_SOCIAL_CIRCLE,0.33,0,2.004,0.0,0.0,0.0,1.422,0.0,2.0,348.0,2.401
DEF_30_CNT_SOCIAL_CIRCLE,0.33,0,2.224,0.0,0.0,0.0,0.143,0.0,0.0,34.0,0.447
OBS_60_CNT_SOCIAL_CIRCLE,0.33,0,1.946,0.0,0.0,0.0,1.405,0.0,2.0,344.0,2.380

### 10. document_info

In [ ]:
report_app_train['numeric_report'].xs('document_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
AMT_REQ_CREDIT_BUREAU_YEAR,13.5,0,1.094,0.0,0.0,1.0,1.900,0.0,3.0,25.0,1.869
FLAG_DOCUMENT_13,0.0,0,0.353,0.0,0.0,0.0,0.004,0.0,0.0,1.0,0.059
FLAG_DOCUMENT_12,0.0,0,0.001,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.003
FLAG_DOCUMENT_11,0.0,0,0.391,0.0,0.0,0.0,0.004,0.0,0.0,1.0,0.062
FLAG_DOCUMENT_10,0.0,0,0.002,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.005
HOUR_APPR_PROCESS_START,0.0,0,0.202,0.0,10.0,12.0,12.063,10.0,14.0,23.0,3.266
FLAG_DOCUMENT_15,0.0,0,0.121,0.0,0.0,0.0,0.001,0.0,0.0,1.0,0.035
FLAG_DOCUMENT_16,0.0,0,0.993,0.0,0.0,0.0,0.010,0.0,0.0,1.0,0.099
FLAG_DOCUMENT_9,0.0,0,0.390,0.0,0.0,0.0,0.004,0.0,0.0,1.0,0.062
FLAG_DOCUMENT_17,0.0,0,0.027,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.016
FLAG_DOCUMENT_18,0.0,0,0.813,0.0,0.0,0.0,0.008,0.0,0.0,1.0,0.090
FLAG_DOCUMENT_19,0.0,0,0.060,0.0,0.0,0.0,0.001,0.0,0.0,1.0,0.024
FLAG_DOCUMENT_20,0.0,0,0.051,0.0,0.0,0.0,0.001,0.0,0.0,1.0,0.023
FLAG_DOCUMENT_21,0.0,0,0.033,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.018
AMT_REQ_CREDIT_BUREAU_HOUR,13.5,0,0.529,0.0,0.0,0.0,0.006,0.0,0.0,4.0,0.084
FLAG_DOCUMENT_8,0.0,0,8.138,0.0,0.0,0.0,0.081,0.0,0.0,1.0,0.273
AMT_REQ_CREDIT_BUREAU_DAY,13.5,0,0.484,0.0,0.0,0.0,0.007,0.0,0.0,9.0,0.111
AMT_REQ_CREDIT_BUREAU_WEEK,13.5,0,2.776,0.0,0.0,0.0,0.034,0.0,0.0,8.0,0.205
FLAG_DOCUMENT_7,0.0,0,0.019,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.014
FLAG_DOCUMENT_6,0.0,0,8.806,0.0,0.0,0.0,0.088,0.0,0.0,1.0,0.283
AMT_REQ_CREDIT_BUREAU_MON,13.5,0,1.052,0.0,0.0,0.0,0.267,0.0,0.0,27.0,0.916
FLAG_DOCUMENT_5,0.0,0,1.511,0.0,0.0,0.0,0.015,0.0,0.0,1.0,0.122
FLAG_DOCUMENT_4,0.0,0,0.008,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.009
FLAG_DOCUMENT_3,0.0,0,0.000,0.0,0.0,1.0,0.710,1.0,1.0,1.0,0.454
FLAG_DOCUMENT_2,0.0,0,0.004,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.007
AMT_REQ_CREDIT_BUREAU_QRT,13.5,0,0.748,0.0,0.0,0.0,0.265,0.0,0.0,261.0,0.794
FLAG_DOCUMENT_14,0.0,0,0.294,0.0,0.0,0.0,0.003,0.0,0.0,1.0,0.054

In [ ]:
report_app_train['categorical_report'].xs('document_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
WEEKDAY_APPR_PROCESS_START,0.0,0,TUESDAY,17.528153,7.0

### 11. reachability

In [ ]:
report_app_train['numeric_report'].xs('reachability', level='groups')

#CONT_MOBILE = connectability

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
FLAG_EMP_PHONE,0.0,0,0.000,0.0,1.0,1.0,0.820,1.0,1.0,1.0,0.384
DAYS_ID_PUBLISH,0.0,0,0.000,-7197.0,-4299.0,-3254.0,-2994.202,-4053.0,-1720.0,0.0,1509.450
FLAG_MOBIL,0.0,0,0.000,0.0,1.0,1.0,1.000,1.0,1.0,1.0,0.002
DAYS_REGISTRATION,0.0,0,0.244,-24672.0,-7479.5,-4504.0,-4986.120,-1.0,-2010.0,0.0,3522.886
FLAG_WORK_PHONE,0.0,0,0.000,0.0,0.0,0.0,0.199,0.0,0.0,1.0,0.400
DAYS_LAST_PHONE_CHANGE,0.0,0,0.208,-4292.0,-1570.0,-757.0,-962.859,0.0,-274.0,0.0,826.808
FLAG_PHONE,0.0,0,0.000,0.0,0.0,0.0,0.281,0.0,1.0,1.0,0.450
FLAG_EMAIL,0.0,0,5.672,0.0,0.0,0.0,0.057,0.0,0.0,1.0,0.231
FLAG_CONT_MOBILE,0.0,0,0.187,0.0,1.0,1.0,0.998,1.0,1.0,1.0,0.043

In [ ]:
report_app_train['categorical_report'].xs('reachability', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
NAME_TYPE_SUITE,0.42,0,Unaccompanied,80.818572,7.0

### 12. geo_info

In [ ]:
report_app_train['numeric_report'].xs('geo_info', level='groups')

#REG_CITY_NOT_WORK_CITY = permanent address

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
LIVE_CITY_NOT_WORK_CITY,0.0,0,0.000,0.0,0.0,0.0,0.180,0.0,0.0,1.0,0.384
REG_CITY_NOT_WORK_CITY,0.0,0,0.000,0.0,0.0,0.0,0.230,0.0,0.0,1.0,0.421
REG_CITY_NOT_LIVE_CITY,0.0,0,7.817,0.0,0.0,0.0,0.078,0.0,0.0,1.0,0.268
LIVE_REGION_NOT_WORK_REGION,0.0,0,4.066,0.0,0.0,0.0,0.041,0.0,0.0,1.0,0.197
REG_REGION_NOT_WORK_REGION,0.0,0,5.077,0.0,0.0,0.0,0.051,0.0,0.0,1.0,0.220
REG_REGION_NOT_LIVE_REGION,0.0,0,1.514,0.0,0.0,0.0,0.015,0.0,0.0,1.0,0.122

In [3]:
checker = DataQualityChecker(pd.read_csv(r'data\application_train.csv'), application_metadata)
report_app_train = checker.run_all_checks()

### 1. primary_key

In [25]:
report_app_train['categorical_report'].xs('primary_key', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
SK_ID_CURR,0.0,0,456255,0.000325,307511.0

### 2. target

In [26]:
report_app_train['numeric_report'].xs('target', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
TARGET,0.0,0,8.073,0.0,0.0,0.0,0.081,0.0,0.0,1.0,0.272

### 3. personal_info

In [27]:
report_app_train['numeric_report'].xs('personal_info', level='groups') # D -> Y

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
DAYS_BIRTH,0.0,0,0.0,-25229.0,-19682.0,-15750.0,-16036.995,-13749.0,-12413.0,-7489.0,4363.989

In [28]:
report_app_train['categorical_report'].xs('personal_info', level='groups') # LabelEncoder

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
CODE_GENDER,0.0,0,F,65.834393,3.0
NAME_EDUCATION_TYPE,0.0,0,Secondary / secondary special,71.018923,5.0

### 4. family_info

In [29]:
report_app_train['numeric_report'].xs('family_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
CNT_FAM_MEMBERS,0.0,0,1.303,1.0,2.0,2.0,2.153,2.0,3.0,20.0,0.911
CNT_CHILDREN,0.0,0,1.389,0.0,0.0,0.0,0.417,0.0,1.0,19.0,0.722

In [30]:
report_app_train['categorical_report'].xs('family_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
NAME_FAMILY_STATUS,0.0,0,Married,63.87804,6.0

### 5. external_info

In [31]:
report_app_train['numeric_report'].xs('external_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
EXT_SOURCE_3,19.83,0,0.0,0.001,0.371,0.535,0.511,0.746,0.669,0.896,0.195
EXT_SOURCE_2,0.21,0,0.0,0.000,0.392,0.566,0.514,0.286,0.664,0.855,0.191
EXT_SOURCE_1,56.38,0,0.0,0.015,0.334,0.506,0.502,0.356,0.675,0.963,0.211

### 6. loan_info

In [32]:
report_app_train['numeric_report'].xs('loan_info', level='groups')
#AMT_GOODS_PRICE = For consumer loans it is the price of the goods for which the loan is given

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
AMT_GOODS_PRICE,0.09,0,1.357,40500.0,238500.0,450000.0,538396.207,450000.0,679500.0,4050000.0,369446.461
AMT_ANNUITY,0.00,0,0.962,1615.5,16524.0,24903.0,27108.574,9000.0,34596.0,258025.5,14493.737
AMT_CREDIT,0.00,0,1.058,45000.0,270000.0,513531.0,599026.000,450000.0,808650.0,4050000.0,402490.777

In [33]:
report_app_train['categorical_report'].xs('loan_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
NAME_CONTRACT_TYPE,0.0,0,Cash loans,90.478715,2.0

### 7. financial_info

In [34]:
report_app_train['numeric_report'].xs('financial_info', level='groups') #note: outlier -> days employed

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
AMT_INCOME_TOTAL,0.00,0,0.148,25650.0,112500.0,147150.0,168797.919,135000.0,202500.0,117000000.0,237123.146
OWN_CAR_AGE,65.99,0,1.096,0.0,5.0,9.0,12.061,7.0,15.0,91.0,11.945
DAYS_EMPLOYED,0.00,0,0.000,-17912.0,-2760.0,-1213.0,63815.046,365243.0,-289.0,365243.0,141275.767

In [35]:
report_app_train['categorical_report'].xs('financial_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
FLAG_OWN_CAR,0.00,0,N,65.989184,2.0
FLAG_OWN_REALTY,0.00,0,Y,69.367275,2.0
ORGANIZATION_TYPE,0.00,0,Business Entity Type 3,22.110429,58.0
NAME_INCOME_TYPE,0.00,0,Working,51.631974,8.0
NAME_HOUSING_TYPE,0.00,0,House / apartment,88.734387,6.0
OCCUPATION_TYPE,31.35,0,Laborers,17.946025,18.0

### 8. properties_info

In [14]:
report_app_train['numeric_report'].xs('properties_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
COMMONAREA_MEDI,69.87,0,0.560,0.0,0.008,0.021,0.045,0.000,0.051,1.000,0.076
ELEVATORS_MEDI,53.30,0,0.790,0.0,0.000,0.000,0.078,0.000,0.120,1.000,0.134
ENTRANCES_MEDI,50.35,0,0.724,0.0,0.069,0.138,0.149,0.138,0.207,1.000,0.100
YEARS_BUILD_MEDI,66.50,0,0.392,0.0,0.691,0.758,0.756,0.826,0.826,1.000,0.112
FLOORSMAX_MEDI,49.76,0,0.889,0.0,0.167,0.167,0.226,0.167,0.333,1.000,0.145
YEARS_BEGINEXPLUATATION_MEDI,48.78,0,0.212,0.0,0.977,0.982,0.978,0.987,0.987,1.000,0.060
LANDAREA_MEDI,59.38,0,0.694,0.0,0.019,0.049,0.067,0.000,0.087,1.000,0.082
LIVINGAPARTMENTS_MEDI,68.35,0,0.575,0.0,0.051,0.076,0.102,0.051,0.123,1.000,0.094
LIVINGAREA_MEDI,50.19,0,1.049,0.0,0.046,0.075,0.109,0.000,0.130,1.000,0.112
NONLIVINGAPARTMENTS_MEDI,69.43,0,0.234,0.0,0.000,0.000,0.009,0.000,0.004,1.000,0.047
NONLIVINGAREA_MEDI,55.18,0,0.791,0.0,0.000,0.003,0.028,0.000,0.027,1.000,0.070
TOTALAREA_MODE,48.27,0,1.081,0.0,0.041,0.069,0.103,0.000,0.128,1.000,0.107
FLOORSMIN_MEDI,67.85,0,0.180,0.0,0.083,0.208,0.232,0.208,0.375,1.000,0.162
BASEMENTAREA_MEDI,58.52,0,0.647,0.0,0.044,0.076,0.088,0.000,0.112,1.000,0.082
FLOORSMAX_MODE,49.76,0,0.858,0.0,0.167,0.167,0.222,0.167,0.333,1.000,0.144
NONLIVINGAREA_MODE,55.18,0,0.801,0.0,0.000,0.001,0.027,0.000,0.023,1.000,0.070
LIVINGAPARTMENTS_AVG,68.35,0,0.568,0.0,0.050,0.076,0.101,0.050,0.121,1.000,0.093
APARTMENTS_MEDI,50.75,0,0.987,0.0,0.058,0.086,0.118,0.083,0.149,1.000,0.109
FLOORSMIN_AVG,67.85,0,0.192,0.0,0.083,0.208,0.232,0.208,0.375,1.000,0.161
FLOORSMAX_AVG,49.76,0,0.849,0.0,0.167,0.167,0.226,0.167,0.333,1.000,0.145
ENTRANCES_AVG,50.35,0,0.720,0.0,0.069,0.138,0.150,0.138,0.207,1.000,0.100
ELEVATORS_AVG,53.30,0,0.793,0.0,0.000,0.000,0.079,0.000,0.120,1.000,0.135
LIVINGAREA_AVG,50.19,0,1.038,0.0,0.045,0.074,0.107,0.000,0.130,1.000,0.111
COMMONAREA_AVG,69.87,0,0.554,0.0,0.008,0.021,0.045,0.000,0.052,1.000,0.076
YEARS_BEGINEXPLUATATION_AVG,48.78,0,0.226,0.0,0.977,0.982,0.978,0.987,0.987,1.000,0.059
BASEMENTAREA_AVG,58.52,0,0.642,0.0,0.044,0.076,0.088,0.000,0.112,1.000,0.082
APARTMENTS_AVG,50.75,0,0.970,0.0,0.058,0.088,0.117,0.082,0.148,1.000,0.108
REGION_RATING_CLIENT_W_CITY,0.00,0,0.000,1.0,2.000,2.000,2.032,2.000,2.000,3.000,0.503
REGION_RATING_CLIENT,0.00,0,0.000,1.0,2.000,2.000,2.052,2.000,2.000,3.000,0.509
REGION_POPULATION_RELATIVE,0.00,0,2.736,0.0,0.010,0.019,0.021,0.036,0.029,0.073,0.014
YEARS_BUILD_AVG,66.50,0,0.388,0.0,0.687,0.755,0.752,0.823,0.823,1.000,0.113
NONLIVINGAPARTMENTS_AVG,69.43,0,0.235,0.0,0.000,0.000,0.009,0.000,0.004,1.000,0.048
LANDAREA_AVG,59.38,0,0.679,0.0,0.019,0.048,0.066,0.000,0.086,1.000,0.081
LANDAREA_MODE,59.38,0,0.696,0.0,0.017,0.046,0.065,0.000,0.084,1.000,0.082
LIVINGAREA_MODE,50.19,0,1.087,0.0,0.043,0.073,0.106,0.000,0.125,1.000,0.112
LIVINGAPARTMENTS_MODE,68.35,0,0.588,0.0,0.054,0.077,0.106,0.055,0.131,1.000,0.098
FLOORSMIN_MODE,67.85,0,0.156,0.0,0.083,0.208,0.228,0.208,0.375,1.000,0.161
ENTRANCES_MODE,50.35,0,0.855,0.0,0.069,0.138,0.145,0.138,0.207,1.000,0.101
ELEVATORS_MODE,53.30,0,1.091,0.0,0.000,0.000,0.074,0.000,0.121,1.000,0.132
COMMONAREA_MODE,69.87,0,0.551,0.0,0.007,0.019,0.043,0.000,0.049,1.000,0.074
YEARS_BUILD_MODE,66.50,0,0.393,0.0,0.699,0.765,0.760,0.830,0.824,1.000,0.110
BASEMENTAREA_MODE,58.52,0,0.671,0.0,0.041,0.075,0.088,0.000,0.112,1.000,0.084
APARTMENTS_MODE,50.75,0,0.979,0.0,0.052,0.084,0.114,0.084,0.144,1.000,0.108
NONLIVINGAREA_AVG,55.18,0,0.784,0.0,0.000,0.004,0.028,0.000,0.028,1.000,0.070
NONLIVINGAPARTMENTS_MODE,69.43,0,0.220,0.0,0.000,0.000,0.008,0.000,0.004,1.000,0.046
YEARS_BEGINEXPLUATATION_MODE,48.78,0,0.221,0.0,0.977,0.982,0.977,0.987,0.987,1.000,0.065

In [15]:
report_app_train['categorical_report'].xs('properties_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
FONDKAPREMONT_MODE,68.39,0,reg oper account,24.008897,4.0
HOUSETYPE_MODE,50.18,0,block of flats,48.942314,3.0
WALLSMATERIAL_MODE,50.84,0,Panel,21.475655,7.0
EMERGENCYSTATE_MODE,47.40,0,No,51.844649,2.0

### 9. social_info

In [16]:
report_app_train['numeric_report'].xs('social_info', level='groups')

# OBS = Observable, DEF = Default

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
DEF_60_CNT_SOCIAL_CIRCLE,0.33,0,1.277,0.0,0.0,0.0,0.100,0.0,0.0,24.0,0.362
OBS_30_CNT_SOCIAL_CIRCLE,0.33,0,2.004,0.0,0.0,0.0,1.422,0.0,2.0,348.0,2.401
DEF_30_CNT_SOCIAL_CIRCLE,0.33,0,2.224,0.0,0.0,0.0,0.143,0.0,0.0,34.0,0.447
OBS_60_CNT_SOCIAL_CIRCLE,0.33,0,1.946,0.0,0.0,0.0,1.405,0.0,2.0,344.0,2.380

### 10. document_info

In [17]:
report_app_train['numeric_report'].xs('document_info', level='groups')

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
AMT_REQ_CREDIT_BUREAU_YEAR,13.5,0,1.094,0.0,0.0,1.0,1.900,0.0,3.0,25.0,1.869
FLAG_DOCUMENT_13,0.0,0,0.353,0.0,0.0,0.0,0.004,0.0,0.0,1.0,0.059
FLAG_DOCUMENT_12,0.0,0,0.001,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.003
FLAG_DOCUMENT_11,0.0,0,0.391,0.0,0.0,0.0,0.004,0.0,0.0,1.0,0.062
FLAG_DOCUMENT_10,0.0,0,0.002,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.005
HOUR_APPR_PROCESS_START,0.0,0,0.202,0.0,10.0,12.0,12.063,10.0,14.0,23.0,3.266
FLAG_DOCUMENT_15,0.0,0,0.121,0.0,0.0,0.0,0.001,0.0,0.0,1.0,0.035
FLAG_DOCUMENT_16,0.0,0,0.993,0.0,0.0,0.0,0.010,0.0,0.0,1.0,0.099
FLAG_DOCUMENT_9,0.0,0,0.390,0.0,0.0,0.0,0.004,0.0,0.0,1.0,0.062
FLAG_DOCUMENT_17,0.0,0,0.027,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.016
FLAG_DOCUMENT_18,0.0,0,0.813,0.0,0.0,0.0,0.008,0.0,0.0,1.0,0.090
FLAG_DOCUMENT_19,0.0,0,0.060,0.0,0.0,0.0,0.001,0.0,0.0,1.0,0.024
FLAG_DOCUMENT_20,0.0,0,0.051,0.0,0.0,0.0,0.001,0.0,0.0,1.0,0.023
FLAG_DOCUMENT_21,0.0,0,0.033,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.018
AMT_REQ_CREDIT_BUREAU_HOUR,13.5,0,0.529,0.0,0.0,0.0,0.006,0.0,0.0,4.0,0.084
FLAG_DOCUMENT_8,0.0,0,8.138,0.0,0.0,0.0,0.081,0.0,0.0,1.0,0.273
AMT_REQ_CREDIT_BUREAU_DAY,13.5,0,0.484,0.0,0.0,0.0,0.007,0.0,0.0,9.0,0.111
AMT_REQ_CREDIT_BUREAU_WEEK,13.5,0,2.776,0.0,0.0,0.0,0.034,0.0,0.0,8.0,0.205
FLAG_DOCUMENT_7,0.0,0,0.019,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.014
FLAG_DOCUMENT_6,0.0,0,8.806,0.0,0.0,0.0,0.088,0.0,0.0,1.0,0.283
AMT_REQ_CREDIT_BUREAU_MON,13.5,0,1.052,0.0,0.0,0.0,0.267,0.0,0.0,27.0,0.916
FLAG_DOCUMENT_5,0.0,0,1.511,0.0,0.0,0.0,0.015,0.0,0.0,1.0,0.122
FLAG_DOCUMENT_4,0.0,0,0.008,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.009
FLAG_DOCUMENT_3,0.0,0,0.000,0.0,0.0,1.0,0.710,1.0,1.0,1.0,0.454
FLAG_DOCUMENT_2,0.0,0,0.004,0.0,0.0,0.0,0.000,0.0,0.0,1.0,0.007
AMT_REQ_CREDIT_BUREAU_QRT,13.5,0,0.748,0.0,0.0,0.0,0.265,0.0,0.0,261.0,0.794
FLAG_DOCUMENT_14,0.0,0,0.294,0.0,0.0,0.0,0.003,0.0,0.0,1.0,0.054

In [18]:
report_app_train['categorical_report'].xs('document_info', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
WEEKDAY_APPR_PROCESS_START,0.0,0,TUESDAY,17.528153,7.0

### 11. reachability

In [19]:
report_app_train['numeric_report'].xs('reachability', level='groups')

#CONT_MOBILE = connectability

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
FLAG_EMP_PHONE,0.0,0,0.000,0.0,1.0,1.0,0.820,1.0,1.0,1.0,0.384
DAYS_ID_PUBLISH,0.0,0,0.000,-7197.0,-4299.0,-3254.0,-2994.202,-4053.0,-1720.0,0.0,1509.450
FLAG_MOBIL,0.0,0,0.000,0.0,1.0,1.0,1.000,1.0,1.0,1.0,0.002
DAYS_REGISTRATION,0.0,0,0.244,-24672.0,-7479.5,-4504.0,-4986.120,-1.0,-2010.0,0.0,3522.886
FLAG_WORK_PHONE,0.0,0,0.000,0.0,0.0,0.0,0.199,0.0,0.0,1.0,0.400
DAYS_LAST_PHONE_CHANGE,0.0,0,0.208,-4292.0,-1570.0,-757.0,-962.859,0.0,-274.0,0.0,826.808
FLAG_PHONE,0.0,0,0.000,0.0,0.0,0.0,0.281,0.0,1.0,1.0,0.450
FLAG_EMAIL,0.0,0,5.672,0.0,0.0,0.0,0.057,0.0,0.0,1.0,0.231
FLAG_CONT_MOBILE,0.0,0,0.187,0.0,1.0,1.0,0.998,1.0,1.0,1.0,0.043

In [20]:
report_app_train['categorical_report'].xs('reachability', level='groups')

,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
index,,,,,
NAME_TYPE_SUITE,0.42,0,Unaccompanied,80.818572,7.0

### 12. geo_info

In [21]:
report_app_train['numeric_report'].xs('geo_info', level='groups')

#REG_CITY_NOT_WORK_CITY = permanent address

,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
index,,,,,,,,,,,
LIVE_CITY_NOT_WORK_CITY,0.0,0,0.000,0.0,0.0,0.0,0.180,0.0,0.0,1.0,0.384
REG_CITY_NOT_WORK_CITY,0.0,0,0.000,0.0,0.0,0.0,0.230,0.0,0.0,1.0,0.421
REG_CITY_NOT_LIVE_CITY,0.0,0,7.817,0.0,0.0,0.0,0.078,0.0,0.0,1.0,0.268
LIVE_REGION_NOT_WORK_REGION,0.0,0,4.066,0.0,0.0,0.0,0.041,0.0,0.0,1.0,0.197
REG_REGION_NOT_WORK_REGION,0.0,0,5.077,0.0,0.0,0.0,0.051,0.0,0.0,1.0,0.220
REG_REGION_NOT_LIVE_REGION,0.0,0,1.514,0.0,0.0,0.0,0.015,0.0,0.0,1.0,0.122

# bureau_balance

In [2]:
checker = DataQualityChecker(pd.read_csv(r'data\bureau_balance.csv'), bureau_bal_metadata)
report_bureau_bal = checker.run_all_checks()

In [4]:
report_bureau_bal['categorical_report']

,,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
groups,index,,,,,
detail,STATUS,0.0,0,C,49.989123,8.0
primary_key,SK_ID_BUREAU,0.0,0,5011569,0.000355,817395.0

In [5]:
report_bureau_bal['numeric_report']

,,null_percentages,duplicate_counts,outliers_percentage,min,25%,median,mean,mode,75%,max,std
groups,index,,,,,,,,,,,
detail,MONTHS_BALANCE,0.0,0,0.0,-96.0,-46.0,-25.0,-30.742,-1.0,-11.0,0.0,23.865

# bureau

In [4]:
checker = DataQualityChecker(pd.read_csv(r'data\bureau.csv'), bureau_metada)
report_bureau = checker.run_all_checks()

In [20]:
report_bureau['categorical_report']

                             null_percentages  duplicate_counts  \
groups      index
credit_info CREDIT_ACTIVE                 0.0                 0
            CREDIT_CURRENCY               0.0                 0
            CREDIT_TYPE                   0.0                 0
primary_key SK_ID_CURR                    0.0                 0

                                   top_value  top_percentage_shares  \
groups      index
credit_info CREDIT_ACTIVE             Closed              62.879014
            CREDIT_CURRENCY       currency 1              99.917969
            CREDIT_TYPE      Consumer credit              72.919750
primary_key SK_ID_CURR                120860               0.006758

                             unique_count
groups      index
credit_info CREDIT_ACTIVE             4.0
            CREDIT_CURRENCY           4.0
            CREDIT_TYPE              15.0
primary_key SK_ID_CURR           305811.0

In [21]:
report_bureau['numeric_report']

                                          null_percentages  duplicate_counts  \
groups            index
current_amt_data  AMT_CREDIT_MAX_OVERDUE             65.51                 0
                  AMT_CREDIT_SUM                      0.00                 0
                  AMT_CREDIT_SUM_DEBT                15.01                 0
                  AMT_CREDIT_SUM_LIMIT               34.48                 0
                  AMT_CREDIT_SUM_OVERDUE              0.00                 0
                  AMT_ANNUITY                        71.47                 0
current_temp_data DAYS_CREDIT                         0.00                 0
                  CREDIT_DAY_OVERDUE                  0.00                 0
                  DAYS_CREDIT_ENDDATE                 6.15                 0
                  DAYS_ENDDATE_FACT                  36.92                 0
                  DAYS_CREDIT_UPDATE                  0.00                 0
history_data      CNT_CREDIT_PROLONG                  0.00                 0
prev_key          SK_ID_BUREAU                        0.00                 0

                                          outliers_percentage          min  \
groups            index
current_amt_data  AMT_CREDIT_MAX_OVERDUE                0.012        0.000
                  AMT_CREDIT_SUM                        0.976        0.000
                  AMT_CREDIT_SUM_DEBT                   0.906 -4705600.320
                  AMT_CREDIT_SUM_LIMIT                  0.915  -586406.115
                  AMT_CREDIT_SUM_OVERDUE                0.026        0.000
                  AMT_ANNUITY                           0.027        0.000
current_temp_data DAYS_CREDIT                           0.000    -2922.000
                  CREDIT_DAY_OVERDUE                    0.070        0.000
                  DAYS_CREDIT_ENDDATE                   2.251   -42060.000
                  DAYS_ENDDATE_FACT                     0.000   -42023.000
                  DAYS_CREDIT_UPDATE                    0.082   -41947.000
history_data      CNT_CREDIT_PROLONG                    0.531        0.000
prev_key          SK_ID_BUREAU                          0.000  5000000.000

                                                 25%     median         mean  \
groups            index
current_amt_data  AMT_CREDIT_MAX_OVERDUE        0.00        0.0     3825.418
                  AMT_CREDIT_SUM            51300.00   125518.5   354994.592
                  AMT_CREDIT_SUM_DEBT           0.00        0.0   137085.120
                  AMT_CREDIT_SUM_LIMIT          0.00        0.0     6229.515
                  AMT_CREDIT_SUM_OVERDUE        0.00        0.0       37.913
                  AMT_ANNUITY                   0.00        0.0    15712.758
current_temp_data DAYS_CREDIT               -1666.00     -987.0    -1142.108
                  CREDIT_DAY_OVERDUE            0.00        0.0        0.818
                  DAYS_CREDIT_ENDDATE       -1138.00     -330.0      510.517
                  DAYS_ENDDATE_FACT         -1489.00     -897.0    -1017.437
                  DAYS_CREDIT_UPDATE         -908.00     -395.0     -593.748
history_data      CNT_CREDIT_PROLONG            0.00        0.0        0.006
prev_key          SK_ID_BUREAU            5463953.75  5926303.5  5924434.489

                                               mode         75%           max  \
groups            index
current_amt_data  AMT_CREDIT_MAX_OVERDUE        0.0        0.00  1.159872e+08
                  AMT_CREDIT_SUM                0.0   315000.00  5.850000e+08
                  AMT_CREDIT_SUM_DEBT           0.0    40153.50  1.701000e+08
                  AMT_CREDIT_SUM_LIMIT          0.0        0.00  4.705600e+06
                  AMT_CREDIT_SUM_OVERDUE        0.0        0.00  3.756681e+06
                  AMT_ANNUITY                   0.0    13500.00  1.184534e+08
current_temp_data DAYS_CREDIT                -364.0     -474.00  0.000000e+00
                  CREDIT_DAY_OVERDUE            0.0        0.00  2.792000e+03
                  DAYS_CREDIT_ENDDATE           0.0      474.00  3.119900e+04
                  DAYS_ENDDATE_FACT          -329.0     -425.00  0.000000e+00
                  DAYS_CREDIT_UPDATE           -7.0      -33.00  3.720000e+02
history_data      CNT_CREDIT_PROLONG            0.0        0.00  9.000000e+00
prev_key          SK_ID_BUREAU            5000000.0  6385681.25  6.843457e+06

                                                  std
groups            index
current_amt_data  AMT_CREDIT_MAX_OVERDUE   206031.606
                  AMT_CREDIT_SUM          1149811.344
                  AMT_CREDIT_SUM_DEBT      677401.131
                  AMT_CREDIT_SUM_LIMIT      45032.031
                  AMT_CREDIT_SUM_OVERDUE     5937.650
                  AMT_ANNUITY              325826.949
current_temp_data DAYS_CREDIT                 795.165
                  CREDIT_DAY_OVERDUE           36.544
                  DAYS_CREDIT_ENDDATE        4994.220
                  DAYS_ENDDATE_FACT           714.011
                  DAYS_CREDIT_UPDATE          720.747
history_data      CNT_CREDIT_PROLONG            0.096
prev_key          SK_ID_BUREAU             532265.729

# credit_card_balance

In [16]:
checker = DataQualityChecker(pd.read_csv(r'data\credit_card_balance.csv'), cc_bal_metadata)
report_cc_bal = checker.run_all_checks()

In [22]:
report_cc_bal['categorical_report']

,,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
groups,index,,,,,
primary_key,SK_ID_CURR,0.0,0,186401,0.005000,103558.0
status,NAME_CONTRACT_STATUS,0.0,0,Active,96.305613,7.0

In [23]:
report_cc_bal['numeric_report']

                                           null_percentages  duplicate_counts  \
groups         index
bal_and_credit AMT_BALANCE                             0.00                 0
               AMT_CREDIT_LIMIT_ACTUAL                 0.00                 0
               AMT_TOTAL_RECEIVABLE                    0.00                 0
               AMT_RECIVABLE                           0.00                 0
               AMT_RECEIVABLE_PRINCIPAL                0.00                 0
pmt_inst       AMT_PAYMENT_TOTAL_CURRENT               0.00                 0
               CNT_INSTALMENT_MATURE_CUM               7.95                 0
               AMT_PAYMENT_CURRENT                    20.00                 0
               AMT_INST_MIN_REGULARITY                 7.95                 0
secondary_key  SK_ID_PREV                              0.00                 0
status         SK_DPD                                  0.00                 0
               MONTHS_BALANCE                          0.00                 0
               SK_DPD_DEF                              0.00                 0
withdraws      AMT_DRAWINGS_OTHER_CURRENT             19.52                 0
               AMT_DRAWINGS_CURRENT                    0.00                 0
               AMT_DRAWINGS_ATM_CURRENT               19.52                 0
               CNT_DRAWINGS_ATM_CURRENT               19.52                 0
               CNT_DRAWINGS_CURRENT                    0.00                 0
               CNT_DRAWINGS_OTHER_CURRENT             19.52                 0
               CNT_DRAWINGS_POS_CURRENT               19.52                 0
               AMT_DRAWINGS_POS_CURRENT               19.52                 0

                                           outliers_percentage          min  \
groups         index
bal_and_credit AMT_BALANCE                               2.697  -420250.185
               AMT_CREDIT_LIMIT_ACTUAL                   2.692        0.000
               AMT_TOTAL_RECEIVABLE                      2.692  -420250.185
               AMT_RECIVABLE                             2.692  -420250.185
               AMT_RECEIVABLE_PRINCIPAL                  2.697  -423305.820
pmt_inst       AMT_PAYMENT_TOTAL_CURRENT                 1.228        0.000
               CNT_INSTALMENT_MATURE_CUM                 0.854        0.000
               AMT_PAYMENT_CURRENT                       1.099        0.000
               AMT_INST_MIN_REGULARITY                   2.348        0.000
secondary_key  SK_ID_PREV                                0.000  1000018.000
status         SK_DPD                                    0.975        0.000
               MONTHS_BALANCE                            0.000      -96.000
               SK_DPD_DEF                                0.029        0.000
withdraws      AMT_DRAWINGS_OTHER_CURRENT                0.170        0.000
               AMT_DRAWINGS_CURRENT                      1.952    -6211.620
               AMT_DRAWINGS_ATM_CURRENT                  1.464    -6827.310
               CNT_DRAWINGS_ATM_CURRENT                  1.795        0.000
               CNT_DRAWINGS_CURRENT                      1.512        0.000
               CNT_DRAWINGS_OTHER_CURRENT                0.334        0.000
               CNT_DRAWINGS_POS_CURRENT                  1.216        0.000
               AMT_DRAWINGS_POS_CURRENT                  0.995        0.000

                                                  25%     median         mean  \
groups         index
bal_and_credit AMT_BALANCE                       0.00        0.0    58300.155
               AMT_CREDIT_LIMIT_ACTUAL       45000.00   112500.0   153807.957
               AMT_TOTAL_RECEIVABLE              0.00        0.0    58098.285
               AMT_RECIVABLE                     0.00        0.0    58088.811
               AMT_RECEIVABLE_PRINCIPAL          0.00        0.0    55965.877
pmt_inst       AMT_PAYMENT_TOTAL_CURRENT         0.00        0.0     7588.857
               CNT_INSTALMENT_MATURE_CUM         4.00       15.0       20.825
               AMT_PAYMENT_CURRENT             152.37     2702.7    10280.538
               AMT_INST_MIN_REGULARITY           0.00        0.0     3540.204
secondary_key  SK_ID_PREV                  1434385.00  1897122.0  1904503.590
status         SK_DPD                            0.00        0.0        9.284
               MONTHS_BALANCE                  -55.00      -28.0      -34.522
               SK_DPD_DEF                        0.00        0.0        0.332
withdraws      AMT_DRAWINGS_OTHER_CURRENT        0.00        0.0      288.170
               AMT_DRAWINGS_CURRENT              0.00        0.0     7433.388
               AMT_DRAWINGS_ATM_CURRENT          0.00        0.0     5961.325
               CNT_DRAWINGS_ATM_CURRENT          0.00        0.0        0.309
               CNT_DRAWINGS_CURRENT              0.00        0.0        0.703
               CNT_DRAWINGS_OTHER_CURRENT        0.00        0.0        0.005
               CNT_DRAWINGS_POS_CURRENT          0.00        0.0        0.559
               AMT_DRAWINGS_POS_CURRENT          0.00        0.0     2968.805

                                                mode          75%  \
groups         index
bal_and_credit AMT_BALANCE                       0.0    89046.686
               AMT_CREDIT_LIMIT_ACTUAL           0.0   180000.000
               AMT_TOTAL_RECEIVABLE              0.0    88914.510
               AMT_RECIVABLE                     0.0    88899.491
               AMT_RECEIVABLE_PRINCIPAL          0.0    85359.240
pmt_inst       AMT_PAYMENT_TOTAL_CURRENT         0.0     6750.000
               CNT_INSTALMENT_MATURE_CUM         0.0       32.000
               AMT_PAYMENT_CURRENT               0.0     9000.000
               AMT_INST_MIN_REGULARITY           0.0     6633.911
secondary_key  SK_ID_PREV                  1000096.0  2369327.750
status         SK_DPD                            0.0        0.000
               MONTHS_BALANCE                   -4.0      -11.000
               SK_DPD_DEF                        0.0        0.000
withdraws      AMT_DRAWINGS_OTHER_CURRENT        0.0        0.000
               AMT_DRAWINGS_CURRENT              0.0        0.000
               AMT_DRAWINGS_ATM_CURRENT          0.0        0.000
               CNT_DRAWINGS_ATM_CURRENT          0.0        0.000
               CNT_DRAWINGS_CURRENT              0.0        0.000
               CNT_DRAWINGS_OTHER_CURRENT        0.0        0.000
               CNT_DRAWINGS_POS_CURRENT          0.0        0.000
               AMT_DRAWINGS_POS_CURRENT          0.0        0.000

                                                   max         std
groups         index
bal_and_credit AMT_BALANCE                 1505902.185  106307.031
               AMT_CREDIT_LIMIT_ACTUAL     1350000.000  165145.700
               AMT_TOTAL_RECEIVABLE        1493338.185  105971.801
               AMT_RECIVABLE               1493338.185  105965.370
               AMT_RECEIVABLE_PRINCIPAL    1472316.795  102533.617
pmt_inst       AMT_PAYMENT_TOTAL_CURRENT   4278315.690   32005.988
               CNT_INSTALMENT_MATURE_CUM       120.000      20.051
               AMT_PAYMENT_CURRENT         4289207.445   36078.085
               AMT_INST_MIN_REGULARITY      202882.005    5600.154
secondary_key  SK_ID_PREV                  2843496.000  536469.471
status         SK_DPD                         3260.000      97.516
               MONTHS_BALANCE                   -1.000      26.668
               SK_DPD_DEF                     3260.000      21.479
withdraws      AMT_DRAWINGS_OTHER_CURRENT  1529847.000    8201.989
               AMT_DRAWINGS_CURRENT        2287098.315   33846.077
               AMT_DRAWINGS_ATM_CURRENT    2115000.000   28225.689
               CNT_DRAWINGS_ATM_CURRENT         51.000       1.100
               CNT_DRAWINGS_CURRENT            165.000       3.190
               CNT_DRAWINGS_OTHER_CURRENT       12.000       0.083
               CNT_DRAWINGS_POS_CURRENT        165.000       3.241
               AMT_DRAWINGS_POS_CURRENT    2239274.160   20796.887

# installments_payments

In [18]:
checker = DataQualityChecker(pd.read_csv(r'data\installments_payments.csv'), inst_pmt_metadata)
report_inst_pmt = checker.run_all_checks()

In [24]:
report_inst_pmt['categorical_report']

,,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
groups,index,,,,,
primary_key,SK_ID_CURR,0.0,0,145728,0.002734,339587.0

In [25]:
report_inst_pmt['numeric_report']

                                      null_percentages  duplicate_counts  \
groups        index
detail        NUM_INSTALMENT_VERSION              0.00                 0
              NUM_INSTALMENT_NUMBER               0.00                 0
              DAYS_INSTALMENT                     0.00                 0
              DAYS_ENTRY_PAYMENT                  0.02                 0
              AMT_INSTALMENT                      0.00                 0
              AMT_PAYMENT                         0.02                 0
secondary_key SK_ID_PREV                          0.00                 0

                                      outliers_percentage        min  \
groups        index
detail        NUM_INSTALMENT_VERSION                1.327        0.0
              NUM_INSTALMENT_NUMBER                 2.816        1.0
              DAYS_INSTALMENT                       0.000    -2922.0
              DAYS_ENTRY_PAYMENT                    0.000    -4921.0
              AMT_INSTALMENT                        0.877        0.0
              AMT_PAYMENT                           0.960        0.0
secondary_key SK_ID_PREV                            0.000  1000001.0

                                              25%       median         mean  \
groups        index
detail        NUM_INSTALMENT_VERSION        0.000        1.000        0.857
              NUM_INSTALMENT_NUMBER         4.000        8.000       18.871
              DAYS_INSTALMENT           -1654.000     -818.000    -1042.270
              DAYS_ENTRY_PAYMENT        -1662.000     -827.000    -1051.114
              AMT_INSTALMENT             4226.085     8884.080    17050.907
              AMT_PAYMENT                3398.265     8125.515    17238.223
secondary_key SK_ID_PREV              1434191.000  1896520.000  1903364.970

                                           mode          75%          max  \
groups        index
detail        NUM_INSTALMENT_VERSION        1.0        1.000      178.000
              NUM_INSTALMENT_NUMBER         1.0       19.000      277.000
              DAYS_INSTALMENT            -120.0     -361.000       -1.000
              DAYS_ENTRY_PAYMENT          -91.0     -370.000       -1.000
              AMT_INSTALMENT             9000.0    16710.210  3771487.845
              AMT_PAYMENT                9000.0    16108.425  3771487.845
secondary_key SK_ID_PREV              2360056.0  2369094.000  2843499.000

                                             std
groups        index
detail        NUM_INSTALMENT_VERSION       1.035
              NUM_INSTALMENT_NUMBER       26.664
              DAYS_INSTALMENT            800.946
              DAYS_ENTRY_PAYMENT         800.586
              AMT_INSTALMENT           50570.254
              AMT_PAYMENT              54735.784
secondary_key SK_ID_PREV              536202.906

# pos_cash_balance

In [8]:
checker = DataQualityChecker(pd.read_csv(r'data\POS_CASH_balance.csv'), pos_cash_bal_metadata)
report_pos_bal = checker.run_all_checks()

In [26]:
report_pos_bal['categorical_report']

,,null_percentages,duplicate_counts,top_value,top_percentage_shares,unique_count
groups,index,,,,,
detail,NAME_CONTRACT_STATUS,0.0,0,Active,91.498764,9.0
primary_key,SK_ID_CURR,0.0,0,265042,0.002950,337252.0

In [27]:
report_pos_bal['numeric_report']

                                     null_percentages  duplicate_counts  \
groups        index
detail        MONTHS_BALANCE                     0.00                 0
              CNT_INSTALMENT                     0.26                 0
              CNT_INSTALMENT_FUTURE              0.26                 0
              SK_DPD                             0.00                 0
              SK_DPD_DEF                         0.00                 0
secondary_key SK_ID_PREV                         0.00                 0

                                     outliers_percentage        min  \
groups        index
detail        MONTHS_BALANCE                       0.000      -96.0
              CNT_INSTALMENT                       2.149        1.0
              CNT_INSTALMENT_FUTURE                2.573        0.0
              SK_DPD                               0.833        0.0
              SK_DPD_DEF                           0.046        0.0
secondary_key SK_ID_PREV                           0.000  1000001.0

                                           25%     median         mean  \
groups        index
detail        MONTHS_BALANCE             -54.0      -28.0      -35.013
              CNT_INSTALMENT              10.0       12.0       17.090
              CNT_INSTALMENT_FUTURE        3.0        7.0       10.484
              SK_DPD                       0.0        0.0       11.607
              SK_DPD_DEF                   0.0        0.0        0.654
secondary_key SK_ID_PREV             1434405.0  1896565.0  1903216.599

                                          mode        75%        max  \
groups        index
detail        MONTHS_BALANCE             -10.0      -13.0       -1.0
              CNT_INSTALMENT              12.0       24.0       92.0
              CNT_INSTALMENT_FUTURE        0.0       14.0       85.0
              SK_DPD                       0.0        0.0     4231.0
              SK_DPD_DEF                   0.0        0.0     3595.0
secondary_key SK_ID_PREV             1000256.0  2368963.0  2843499.0

                                            std
groups        index
detail        MONTHS_BALANCE             26.067
              CNT_INSTALMENT             11.995
              CNT_INSTALMENT_FUTURE      11.109
              SK_DPD                    132.714
              SK_DPD_DEF                 32.762
secondary_key SK_ID_PREV             535846.531

# previous_application

In [19]:
checker = DataQualityChecker(pd.read_csv(r'data\previous_application.csv'), prev_app_metadata)
report_prev_app = checker.run_all_checks()

In [28]:
report_prev_app['categorical_report']

                                                 null_percentages  \
groups              index
application_process WEEKDAY_APPR_PROCESS_START               0.00
                    FLAG_LAST_APPL_PER_CONTRACT              0.00
loan_info           NAME_TYPE_SUITE                         49.12
                    NAME_CONTRACT_TYPE                       0.00
                    NAME_CASH_LOAN_PURPOSE                   0.00
                    NAME_CONTRACT_STATUS                     0.00
                    NAME_PAYMENT_TYPE                        0.00
                    CODE_REJECT_REASON                       0.00
                    NAME_PRODUCT_TYPE                        0.00
                    NAME_CLIENT_TYPE                         0.00
                    NAME_GOODS_CATEGORY                      0.00
                    NAME_PORTFOLIO                           0.00
primary_key         SK_ID_CURR                               0.00
sales_and_payment   CHANNEL_TYPE                             0.00
                    NAME_SELLER_INDUSTRY                     0.00
                    NAME_YIELD_GROUP                         0.00
                    PRODUCT_COMBINATION                      0.02

                                                 duplicate_counts  \
groups              index
application_process WEEKDAY_APPR_PROCESS_START                  0
                    FLAG_LAST_APPL_PER_CONTRACT                 0
loan_info           NAME_TYPE_SUITE                             0
                    NAME_CONTRACT_TYPE                          0
                    NAME_CASH_LOAN_PURPOSE                      0
                    NAME_CONTRACT_STATUS                        0
                    NAME_PAYMENT_TYPE                           0
                    CODE_REJECT_REASON                          0
                    NAME_PRODUCT_TYPE                           0
                    NAME_CLIENT_TYPE                            0
                    NAME_GOODS_CATEGORY                         0
                    NAME_PORTFOLIO                              0
primary_key         SK_ID_CURR                                  0
sales_and_payment   CHANNEL_TYPE                                0
                    NAME_SELLER_INDUSTRY                        0
                    NAME_YIELD_GROUP                            0
                    PRODUCT_COMBINATION                         0

                                                               top_value  \
groups              index
application_process WEEKDAY_APPR_PROCESS_START                   TUESDAY
                    FLAG_LAST_APPL_PER_CONTRACT                        Y
loan_info           NAME_TYPE_SUITE                        Unaccompanied
                    NAME_CONTRACT_TYPE                        Cash loans
                    NAME_CASH_LOAN_PURPOSE                           XAP
                    NAME_CONTRACT_STATUS                        Approved
                    NAME_PAYMENT_TYPE              Cash through the bank
                    CODE_REJECT_REASON                               XAP
                    NAME_PRODUCT_TYPE                                XNA
                    NAME_CLIENT_TYPE                            Repeater
                    NAME_GOODS_CATEGORY                              XNA
                    NAME_PORTFOLIO                                   POS
primary_key         SK_ID_CURR                                    187868
sales_and_payment   CHANNEL_TYPE                 Credit and cash offices
                    NAME_SELLER_INDUSTRY                             XNA
                    NAME_YIELD_GROUP                                 XNA
                    PRODUCT_COMBINATION                             Cash

                                                 top_percentage_shares  \
groups              index
application_process WEEKDAY_APPR_PROCESS_START               15.274570
                    FLAG_LAST_APPL_PER_CONTRACT              99.492580
loan_info           NAME_TYPE_SUITE                          30.473341
                    NAME_CONTRACT_TYPE                       44.757917
                    NAME_CASH_LOAN_PURPOSE                   55.242083
                    NAME_CONTRACT_STATUS                     62.074740
                    NAME_PAYMENT_TYPE                        61.881412
                    CODE_REJECT_REASON                       81.013152
                    NAME_PRODUCT_TYPE                        63.684414
                    NAME_CLIENT_TYPE                         73.718757
                    NAME_GOODS_CATEGORY                      56.927376
                    NAME_PORTFOLIO                           41.372603
primary_key         SK_ID_CURR                                0.004610
sales_and_payment   CHANNEL_TYPE                             43.106332
                    NAME_SELLER_INDUSTRY                     51.234153
                    NAME_YIELD_GROUP                         30.966990
                    PRODUCT_COMBINATION                      17.122956

                                                 unique_count
groups              index
application_process WEEKDAY_APPR_PROCESS_START            7.0
                    FLAG_LAST_APPL_PER_CONTRACT           2.0
loan_info           NAME_TYPE_SUITE                       7.0
                    NAME_CONTRACT_TYPE                    4.0
                    NAME_CASH_LOAN_PURPOSE               25.0
                    NAME_CONTRACT_STATUS                  4.0
                    NAME_PAYMENT_TYPE                     4.0
                    CODE_REJECT_REASON                    9.0
                    NAME_PRODUCT_TYPE                     3.0
                    NAME_CLIENT_TYPE                      4.0
                    NAME_GOODS_CATEGORY                  28.0
                    NAME_PORTFOLIO                        5.0
primary_key         SK_ID_CURR                       338857.0
sales_and_payment   CHANNEL_TYPE                          8.0
                    NAME_SELLER_INDUSTRY                 11.0
                    NAME_YIELD_GROUP                      5.0
                    PRODUCT_COMBINATION                  17.0

In [29]:
report_prev_app['numeric_report']

                                               null_percentages  \
groups              index
application_process HOUR_APPR_PROCESS_START                0.00
                    NFLAG_LAST_APPL_IN_DAY                 0.00
loan_info           NFLAG_INSURED_ON_APPROVAL             40.30
                    AMT_ANNUITY                           22.29
                    AMT_APPLICATION                        0.00
                    AMT_CREDIT                             0.00
                    AMT_DOWN_PAYMENT                      53.64
                    AMT_GOODS_PRICE                       23.08
                    DAYS_DECISION                          0.00
rates               RATE_INTEREST_PRIVILEGED              99.64
                    RATE_INTEREST_PRIMARY                 99.64
                    RATE_DOWN_PAYMENT                     53.64
sales_and_payment   SELLERPLACE_AREA                       0.00
                    CNT_PAYMENT                           22.29
secondary_key       SK_ID_PREV                             0.00
temporal_info       DAYS_FIRST_DRAWING                    40.30
                    DAYS_FIRST_DUE                        40.30
                    DAYS_LAST_DUE_1ST_VERSION             40.30
                    DAYS_LAST_DUE                         40.30
                    DAYS_TERMINATION                      40.30

                                               duplicate_counts  \
groups              index
application_process HOUR_APPR_PROCESS_START                   0
                    NFLAG_LAST_APPL_IN_DAY                    0
loan_info           NFLAG_INSURED_ON_APPROVAL                 0
                    AMT_ANNUITY                               0
                    AMT_APPLICATION                           0
                    AMT_CREDIT                                0
                    AMT_DOWN_PAYMENT                          0
                    AMT_GOODS_PRICE                           0
                    DAYS_DECISION                             0
rates               RATE_INTEREST_PRIVILEGED                  0
                    RATE_INTEREST_PRIMARY                     0
                    RATE_DOWN_PAYMENT                         0
sales_and_payment   SELLERPLACE_AREA                          0
                    CNT_PAYMENT                               0
secondary_key       SK_ID_PREV                                0
temporal_info       DAYS_FIRST_DRAWING                        0
                    DAYS_FIRST_DUE                            0
                    DAYS_LAST_DUE_1ST_VERSION                 0
                    DAYS_LAST_DUE                             0
                    DAYS_TERMINATION                          0

                                               outliers_percentage  \
groups              index
application_process HOUR_APPR_PROCESS_START                  0.098
                    NFLAG_LAST_APPL_IN_DAY                   0.353
loan_info           NFLAG_INSURED_ON_APPROVAL                0.000
                    AMT_ANNUITY                              1.378
                    AMT_APPLICATION                          3.000
                    AMT_CREDIT                               2.813
                    AMT_DOWN_PAYMENT                         0.376
                    AMT_GOODS_PRICE                          1.875
                    DAYS_DECISION                            0.000
rates               RATE_INTEREST_PRIVILEGED                 0.004
                    RATE_INTEREST_PRIMARY                    0.010
                    RATE_DOWN_PAYMENT                        1.103
sales_and_payment   SELLERPLACE_AREA                         0.087
                    CNT_PAYMENT                              3.221
secondary_key       SK_ID_PREV                               0.000
temporal_info       DAYS_FIRST_DRAWING                       3.754
                    DAYS_FIRST_DUE                           2.434
                    DAYS_LAST_DUE_1ST_VERSION                5.620
                    DAYS_LAST_DUE                            0.000
                    DAYS_TERMINATION                         0.000

                                                       min          25%  \
groups              index
application_process HOUR_APPR_PROCESS_START          0.000       10.000
                    NFLAG_LAST_APPL_IN_DAY           0.000        1.000
loan_info           NFLAG_INSURED_ON_APPROVAL        0.000        0.000
                    AMT_ANNUITY                      0.000     6321.780
                    AMT_APPLICATION                  0.000    18720.000
                    AMT_CREDIT                       0.000    24160.500
                    AMT_DOWN_PAYMENT                -0.900        0.000
                    AMT_GOODS_PRICE                  0.000    50841.000
                    DAYS_DECISION                -2922.000    -1300.000
rates               RATE_INTEREST_PRIVILEGED         0.373        0.716
                    RATE_INTEREST_PRIMARY            0.035        0.161
                    RATE_DOWN_PAYMENT               -0.000        0.000
sales_and_payment   SELLERPLACE_AREA                -1.000       -1.000
                    CNT_PAYMENT                      0.000        6.000
secondary_key       SK_ID_PREV                 1000001.000  1461857.250
temporal_info       DAYS_FIRST_DRAWING           -2922.000   365243.000
                    DAYS_FIRST_DUE               -2892.000    -1628.000
                    DAYS_LAST_DUE_1ST_VERSION    -2801.000    -1242.000
                    DAYS_LAST_DUE                -2889.000    -1314.000
                    DAYS_TERMINATION             -2874.000    -1270.000

                                                    median         mean  \
groups              index
application_process HOUR_APPR_PROCESS_START         12.000       12.484
                    NFLAG_LAST_APPL_IN_DAY           1.000        0.996
loan_info           NFLAG_INSURED_ON_APPROVAL        0.000        0.333
                    AMT_ANNUITY                  11250.000    15955.121
                    AMT_APPLICATION              71046.000   175233.860
                    AMT_CREDIT                   80541.000   196114.021
                    AMT_DOWN_PAYMENT              1638.000     6697.402
                    AMT_GOODS_PRICE             112320.000   227847.279
                    DAYS_DECISION                 -581.000     -880.680
rates               RATE_INTEREST_PRIVILEGED         0.835        0.774
                    RATE_INTEREST_PRIMARY            0.189        0.188
                    RATE_DOWN_PAYMENT                0.052        0.080
sales_and_payment   SELLERPLACE_AREA                 3.000      313.951
                    CNT_PAYMENT                     12.000       16.054
secondary_key       SK_ID_PREV                 1923110.500  1923089.135
temporal_info       DAYS_FIRST_DRAWING          365243.000   342209.855
                    DAYS_FIRST_DUE                -831.000    13826.269
                    DAYS_LAST_DUE_1ST_VERSION     -361.000    33767.774
                    DAYS_LAST_DUE                 -537.000    76582.403
                    DAYS_TERMINATION              -499.000    81992.344

                                                      mode          75%  \
groups              index
application_process HOUR_APPR_PROCESS_START         11.000       15.000
                    NFLAG_LAST_APPL_IN_DAY           1.000        1.000
loan_info           NFLAG_INSURED_ON_APPROVAL        0.000        1.000
                    AMT_ANNUITY                   2250.000    20658.420
                    AMT_APPLICATION                  0.000   180360.000
                    AMT_CREDIT                       0.000   216418.500
                    AMT_DOWN_PAYMENT                 0.000     7740.000
                    AMT_GOODS_PRICE              45000.000   234000.000
                    DAYS_DECISION                 -245.000     -280.000
rates               RATE_INTEREST_PRIVILEGED         0.835        0.853
                    RATE_INTEREST_PRIMARY            0.189        0.193
                    RATE_DOWN_PAYMENT                0.000        0.109
sales_and_payment   SELLERPLACE_AREA                -1.000       82.000
                    CNT_PAYMENT                     12.000       24.000
secondary_key       SK_ID_PREV                 1000001.000  2384279.750
temporal_info       DAYS_FIRST_DRAWING          365243.000   365243.000
                    DAYS_FIRST_DUE              365243.000     -411.000
                    DAYS_LAST_DUE_1ST_VERSION   365243.000      129.000
                    DAYS_LAST_DUE               365243.000      -74.000
                    DAYS_TERMINATION            365243.000      -44.000

                                                       max         std
groups              index
application_process HOUR_APPR_PROCESS_START         23.000       3.334
                    NFLAG_LAST_APPL_IN_DAY           1.000       0.059
loan_info           NFLAG_INSURED_ON_APPROVAL        1.000       0.471
                    AMT_ANNUITY                 418058.145   14782.137
                    AMT_APPLICATION            6905160.000  292779.762
                    AMT_CREDIT                 6905160.000  318574.617
                    AMT_DOWN_PAYMENT           3060045.000   20921.495
                    AMT_GOODS_PRICE            6905160.000  315396.558
                    DAYS_DECISION                   -1.000     779.100
rates               RATE_INTEREST_PRIVILEGED         1.000       0.101
                    RATE_INTEREST_PRIMARY            1.000       0.088
                    RATE_DOWN_PAYMENT                1.000       0.108
sales_and_payment   SELLERPLACE_AREA           4000000.000    7127.443
                    CNT_PAYMENT                     84.000      14.567
secondary_key       SK_ID_PREV                 2845382.000  532597.959
temporal_info       DAYS_FIRST_DRAWING          365243.000   88916.116
                    DAYS_FIRST_DUE              365243.000   72444.870
                    DAYS_LAST_DUE_1ST_VERSION   365243.000  106857.035
                    DAYS_LAST_DUE               365243.000  149647.415
                    DAYS_TERMINATION            365243.000  153303.517

# Mapping data

In [6]:
import os
import pandas as pd

In [7]:
file_names = os.listdir('data/')
csv_files = [f for f in file_names if f.endswith('.csv')]

In [8]:
application_df = pd.read_csv("data/application_train.csv")

# List to store the percentage of matching records for each dataset
matching_percentages = []

# Iterate through CSV files (excluding "application.csv")
for file_name in csv_files:
    if file_name != "application.csv":
        # Load the current dataset
        dataset_df = pd.read_csv(os.path.join('data/', file_name))

        # Perform an inner join on 'SK_ID_CURR'
        merged_df = pd.merge(application_df, dataset_df, on='SK_ID_CURR', how='inner')

        # Calculate the percentage of matching records
        percentage = (len(merged_df) / len(application_df)) * 100
        matching_percentages.append((file_name, percentage))

# Print the results
for file_name, percentage in matching_percentages:
    print(f"{file_name}: {percentage:.2f}% of records match with the 'application' dataset")

KeyError: 'SK_ID_CURR'